.bot-cop{
color:#b1b1b1;
text-align: center;
margin-top: 20px;
}
.bot-cop span{
    color: white;
    cursor: pointer;
}
.card-color{
    background-color: #072044;
    height: 80px;
    bottom: 0;
    position: none;
    width: 100%;
}
